suites:
    domain:
        spec_path: ./tests/
        spec_prefix: Spec
        namespace: App\Domain
        src_path: ./src
# @TODO separate file for CI
extensions:
    LeanPHP\PhpSpec\CodeCoverage\CodeCoverageExtension:
        format:
            - clover
        output:
            clover: var/coverage/domain.xml
        whitelist:
            - src/Domain